.fig-cap-widget {
    padding: 4px;
    overflow-x: scroll;
    white-space: nowrap;
}

.fig-cap-widget button {
    display: inline-block;
    margin: 4px;
    z-index: 1;
}

#annotation-overlay {
    background-color: chocolate;
}

svg.a9s-annotationlayer .a9s-annotation.Figure .a9s-outer {
    stroke: rgba(142, 125, 190, 0.9);;
    stroke-width: 3;
    fill: rgba(142, 125, 190, 0.2);
}

svg.a9s-annotationlayer .a9s-annotation.Table .a9s-outer {
    stroke: rgba(191, 126, 137, 0.9);;
    stroke-width: 3;
    fill: rgba(191, 126, 137, 0.2);
}

svg.a9s-annotationlayer .a9s-annotation.Caption .a9s-outer {
    stroke: rgba(104, 141, 189, 0.9);;
    stroke-width: 3;
    fill: rgba(104, 141, 189, 0.2);
}

svg.a9s-annotationlayer .a9s-annotation.Figure .a9s-inner, svg.a9s-annotationlayer .a9s-annotation.Table .a9s-inner, svg.a9s-annotationlayer .a9s-annotation.Caption .a9s-inner {
    fill: transparent;
    stroke: none;
}

.a9s-annotation rect {
    vector-effect: none;
}